
/*==============ROOT================ */
@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@font-face {
    font-family: 'font_nav';
    src: url(../fonts/QuickSand/Quicksand-VariableFont_wght.ttf);
}
@font-face{
    font-family: 'neon';
    src: url(../fonts/Neon/Neoneon.otf);
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background-color: black;

    scroll-behavior: smooth;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
    border-radius: 5px;
}
*{
    margin:0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    border: none;
}
/*==============HEADER================ */
header{
    height: 8vh;
    background-color: transparent;
    position: fixed;
    z-index: 1000;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header > img{
    width: 7.5vh;
    margin-right: 3.5rem;
    opacity: 0;
}
.menu_icon{
    font-size: 3.0rem;
    margin-left: 3.5rem;
    transition: .5s;
    cursor: pointer;
    color: white;
    opacity: .9;
}
.menu_icon:hover{
    color: rgb(255, 136, 0);
    transform: scale(1.2);
}
/*==============SEC_01================ */
#sec_01{
    height: 100vh;
    width: 100vw;
    display: flex;
  justify-content: center;
  align-items: center;
}
#video{
    position: absolute;
    width: 100vw;
    top:0;
    z-index: -1;
    margin-left: 0vw;
    transition: 1s;
}
#logo{
    width: 50rem;
    position: fixed;
    z-index: 1;
}
#menu{
    font-family: 'font_nav';
    position: fixed;
    z-index: 999;
    width: 22vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    padding-top: 25vh;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    
}
.ul_menu{
    width: 100%;
}
.ul_menu > li{
    cursor: pointer;
    width: 100%;
    padding: 2vh 7vw;

}
.ul_menu > li > a{
    color: white;
    font-family: 'font_nav';
    font-size: 2.5rem;
    transition: .4s;
}
.ul_menu > li:hover{
    padding-left: 7.5vw;
    text-shadow: 
  .1vw 0vw .25vw #ffe6d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, 
  .1vw 0vw   0vw #f28857, .2vw 0vw   0vw #f28857, .4vw 0vw   0vw #f28857,
  .1vw 0vw  .1vw #f28857, .2vw 0vw  .1vw #f28857, .4vw 0vw  .1vw #f28857,
  .1vw 0vw   2vw #f28857, .2vw 0vw   2vw #f28857, .4vw 0vw   2vw #f28857, 
  .1vw 0vw   1vw #e50b0b, .2vw 0vw   1vw #e50b0b, .4vw 0vw   5vw #e50b0b, 
  .1vw 0vw   5vw #e50b0b, .2vw 0vw  20vw #e50b0b, .4vw 0vw  10vw #e50b0b,
  .1vw 0vw  10vw #e50b0b, .2vw 0vw  30vw #e50b0b, .4vw 0vw  10vw #e50b0b;
}
/*==============SEC_02================ */
#sec_02{
    position: relative;
    z-index: 2;
    color: white;
    height: 80vh;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 20vw;
}
.div_txt01{
font-size: 3.5rem;
font-family: 'Oswald',sans-serif;
}
/*==============SEC_03================ */
#sec_03{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: black;
}


.des_link{
    background-image: linear-gradient(135deg,rgb(236,104,28),rgb(238,114,30));

}
.aud_link{
    background-image: linear-gradient(135deg,rgb(0,0,0),rgb(32,32,32));
}
.tec_link{
    background-image: linear-gradient(135deg,rgb(74,39,109),rgb(95,48,139));
}
._container{
    width:33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

._link{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.background__text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 33.33vw;
    height: 100%;
}
.palavra{
    padding: .5rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 6.4rem;
    font-family: 'neon';
    height: 6.2rem;
    color: white;
    opacity: .3;
    
}
.des__text{
    height: 6rem;
    letter-spacing: 3rem;
    font-family: 'neon';
    font-size: 7rem;
    color: white;
    opacity: .3;
}
.aud__text{
    text-align: center;
    font-family: 'neon';
    letter-spacing: 4rem;
    font-size: 7rem;
    color: white;
    opacity: .3;
}
.tec__text{
    text-align: center;
    font-family: 'neon';
    letter-spacing: 1rem;
    font-size: 6rem;
    color: white;
    opacity: .3;
}
.icones_setores{
    position: absolute;
    font-size: 7.0rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(26, 26, 26, 0.774);
    z-index: 2;
    transition: 1s;
}
._carrosel{
    background-color: black;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.container__img{
    position: absolute;
    z-index: 1;
    width: 33.33vw;
    height: 50%;
    overflow:hidden;
}
.container__img--ul{
    display: flex;
    width: 100vw;
    height: 100%;
}
.carrosel_des__{
    width: 33.33vw;
    position: relative;
    animation: slide_img 10s infinite ease-in;
    transition: all .3s ease-in-out;
    
}
.carrosel_aud__{
    
    width: 33.33vw;
    position: relative;
    animation: slide_img 10s infinite ease-in;
    transition: all .3s ease-in-out;
}
.carrosel_tec__{
    
    width: 33.33vw;
    position: relative;
    animation: slide_img 10s infinite ease-in;
    transition: all .3s ease-in-out;
}
@keyframes slide_img{
    0%{left: 0vw;}
    20%{left: 0vw;}
    40%{left: -33.33vw;}
    60%{left: -33.33vw;}
    80%{left: -66.66vw;}
    100%{left: -66.66vw;}
}
.img__carrosel{
    width: 100%;
    height: 100%;
}
.container__dots{
    opacity: 0;
    padding: 2vw;
    width: 98%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    transition: .6s;
}

.dot{
    background-color: white;
    width: .5vw;
    height: .5vw;
    margin-left: 1vw;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}
#dot_01_des{
    background-color: black;
}
#dot_01_aud{
    background-color: black;
}
#dot_01_tec{
    background-color: black;
}
.dot:hover{
    transform: scale(1.8);
}
.container__buttons{
    opacity: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    transition: .6s;
}
.__button{
    font-size: 5.0rem;
    height: 5.0rem;
    color: white;
    background-color: transparent;
    margin:0 5%;
    cursor: pointer;
    transition: .2s;
}
.__button:hover{
    transform: scale(1.4);
}
.container__call_button{
    opacity: 0;
    position: relative;
    z-index: 2;
    height: 28%;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
}
.call__button{
    background-color: white;
    width: 20vw;
    height: 6vh;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
}
.call__button:hover{
    transform: scale(1.1);
}
.call__button > .text{
    font-family:'font_nav';
}
/*==============SEC_04================ */
#sec_04{
    position: relative;
    height: 70vh;
    width: 100vw;
    z-index: 2;
    padding: 0%;
    background-image: linear-gradient(50deg ,rgb(110, 110, 110) ,rgb(115,115,115),rgb(118,118,118) );
}
.container__sec_04{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding: 0%;
}
.sec_04_titulo{
    display: block;
    width: 100vw;
    height: 10vh;
    text-align: center;
    padding-top: 2vh;
    color: black;
}
.sec_04_titulo .texto{
    font-family: 'font_nav',sans-serif;
    font-size: 4rem;
}
.container_logos_ul{
    justify-content: space-around;
    display: flex;
    width: 100vw;
    height: 100% ;
    flex-wrap: wrap;
    padding: 5vh 2vw;
}
.container_logos_li{
    width: 18vw;
    height: 20vh;
    
}
.container_logos_li >img{
    width: 15vw;
    transform: translate(10%,10%);
}
/*==============SEC_05================ */
#sec_05{
    font-family: 'font_nav';
    position: relative;
    height: 60vh;
    width: 100vw;
    z-index: 2;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.fotos,.nomes,.cargos,.depoimentos{
    width: 100vw;
    color: white;
    
}
.fotos{
    height: 30%;
    display: flex;
    justify-content: space-around;
    
}
.fotos > li{
    
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fotos > li > img{
    border-radius: 50%;
}
.nomes,.cargos{
    height: 8%;
    display: flex;
    justify-content: space-around;
}
.nomes > li{
    color: rgb(255, 116, 66);
    font-size: 2.5rem;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cargos > li{
    color: rgb(253, 83, 22);
    font-size: 2.8rem;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.depoimentos{
    height: 54%;
    display: flex;
    justify-content: space-around;
}
.depoimentos > li{
    padding: 3vw 2.5vw;
    font-size: 2.8rem;
    width: 33.33%;
    display: flex;
    word-break: break-all;
    
}

/*==============SEC_06================ */
#sec_06{
    font-family: 'font_nav';
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    display: flex;
    height: 40vh;
    width: 100vw;
    background-color: rgb(250, 237, 223);
    color: white;
    text-align: center;
}
.titulo{
    color: black;
    font-size: 2.0rem;
    width: 40vw;
    word-wrap: break-word;
}
.form{
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-weight: bold;
    font-size: 2.0rem;
    margin-left: 5vw;
    align-items: center;
}
.form .email{
    background-color: rgb(250, 237, 223);
    font-size: 2.0rem;
    box-shadow:  -2px -2px 2px rgb(255, 244, 233),
                 1px 1px 2px rgb(207,196,184);
    border-radius: 3px;
    height: 3vw;
    margin-left: 15px;
}
.form .button{
    height: 3vw;
    border: none;
    background-color: rgb(250, 237, 223);
    box-shadow:  -2px -2px 2px rgb(255, 244, 233),
                 1px 1px 2px rgb(207,196,184);
    color: black;
    border-radius: 3px;
    font-size: 2.0rem;
    margin-left: 15px;
    padding: .5vw;
    transition: .2s;
}
.form .button:hover{
    cursor: pointer;
    transform: scale(1.1)
}
/*==============SEC_07================ */
#sec_07{
    font-family: 'font_nav';
    position: relative;
    height: 20vh;
    width: 100vw;
    z-index: 2;
    background-color: rgb(25, 25, 25);
    color: white;
}
.container__sec__07{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.redes_sociais_icons{
    font-size: 3rem;
}
.redes_sociais{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
.redes_sociais > li{
    margin-left: 3vw;
}
.container__Logo{
    display: flex;
}
.img__logo{
    width: 7vw;
    margin-right: 2.5vw;
}
@media (min-width:2601px){
    html{
        font-size: 130%;
    }
    #logo{
        width: 30vw;
    }
    .fotos > li > img{
        width: 7vw;
    }
    #sec_05{
        height: 40vw;
    }
}
@media (min-width:1951px) and (max-width:2600px){
    html{
        font-size: 90%;
    }
    #logo{
        width: 40vw;
    }
    .menu_icon{
        font-size: 4.5rem;
    }
    #sec_03{
        height: 105vh;
    }
    #sec_04{
        height: 45vh;
    }
    .fotos > li > img{
        width: 7vw;
    }
    #sec_06 .titulo{
        font-size: 3rem;
    }
    #sec_06 .form{
        font-size: 3rem;
    }
    #sec_06 .email{
        font-size: 3rem;
    }
    #sec_06 .button{
        font-size: 3rem;
    }
}
@media (min-width:1401px) and (max-width:1950px){
    html{
        font-size: 70%;
    }
    #logo{
        width: 40vw;
    }
    .menu_icon{
        font-size: 4.5rem;
    }
    #sec_03{
        height: 50vw;
    }
    #sec_04{
        height: 45vh;
    }
    #sec_06 .titulo{
        font-size: 3rem;
    }
    #sec_06 .form{
        font-size: 3rem;
    }
    #sec_06 .email{
        font-size: 3rem;
    }
    #sec_06 .button{
        font-size: 3rem;
    }
    
   
}
@media (min-width:1025px) and (max-width:1400px){
    html{
        font-size: 85%;
    }
    #logo{
        width: 40vw;
    }
    .menu_icon{
        font-size: 2.5rem;
    }
    #sec_02{
        height: 50vh;
    }
    .div_txt01{
        font-size: 3rem;
    }
    #sec_03{
        height: 70vh;
    }
    .letra{
        font-size: 4rem;
    }
    #sec_04{
        height: 45vh;
    }
    .fotos{
        padding-top: 1vw;
    }
    .nomes > li{
        font-size: 2rem;
    }
    .cargos > li{
        font-size: 2.3rem;
    }
    .depoimentos > li{
        font-size: 1.5rem;
    }
    #sec_06{
        flex-direction: column;
        justify-content: space-around;
    }
    #sec_06 .titulo{
        font-size: 2.5rem;
        text-align: center;
    }
    #sec_06 .form{
        display: flex;
        justify-content: space-around;
        font-size: 2.5rem;
    }
    #sec_06 .email{
        font-size: 2.5rem;
        height: 3rem;
    }
    #sec_06 .button{
        font-size: 2.5rem;
        height: 3rem;
    }
    
   
}

@media (min-width:768px) and (max-width:1024px){
    html{
        font-size: 65%;
    }
    #logo{
        width: 50vw;
    }
    .menu_icon{
        font-size: 3rem;
    }
    #sec_02{
        height: 55vh;
    }
    .div_txt01{
        font-size: 3rem;
    }
    #sec_03{
        height: 50vh;
    }
    .letra{
        font-size: 4rem;
    }
    #sec_04{
        height: 35vh;
    }
    .container_logos_li > img{
        width: 20vw;
    }
    .fotos{
        padding-top: 1vw;
    }
    .nomes > li{
        font-size: 2rem;
    }
    .cargos > li{
        font-size: 2.3rem;
    }
    .depoimentos > li{
        font-size: 2rem;
    }
    #sec_06{
        height: 25vh;
        flex-direction: column;
        justify-content: space-around;
    }
    #sec_06 .titulo{
        font-size: 2.5rem;
        text-align: center;
    }
    #sec_06 .form{
        display: flex;
        justify-content: space-around;
        font-size: 2.5rem;
    }
    #sec_06 .email{
        font-size: 2.5rem;
        height: 3rem;
    }
    #sec_06 .button{
        font-size: 2.5rem;
        height: 3rem;
    }
    #sec_07{
        height: 10vh;
    }
}
@media (min-width:420px) and (max-width:767px){
    html{
        font-size: 45%;
    }
    #logo{
        width: 50vw;
    }
    .menu_icon{
        font-size: 4.5rem;
    }
    #sec_02{
        height: 45vh;
    }
    .div_txt01{
        font-size: 3rem;
    }
    #sec_03{
        height: 50vh;
    }
    .__link{
        font-size: 2rem;
    }
    .letra{
        font-size: 5rem;
    }
    #sec_04{
        height: 35vh;
    }
    .container_logos_li > img{
        width: 20vw;
    }
    .fotos{
        padding-top: 1.4vw;
    }
    .nomes > li{
        font-size: 2.5rem;
    }
    .cargos > li{
        font-size: 2.8rem;
    }
    .depoimentos > li{
        font-size: 2.5rem;
    }
    #sec_06{
        height: 25vh;
        flex-direction: column;
        justify-content: space-around;
    }
    #sec_06 .titulo{
        font-size: 2.5rem;
        text-align: center;
    }
    #sec_06 .form{
        display: flex;
        justify-content: space-around;
        font-size: 2.5rem;
    }
    #sec_06 .email{
        font-size: 2.5rem;
        height: 3rem;
    }
    #sec_06 .button{
        font-size: 2.5rem;
        height: 3rem;
    }
    #sec_07{
        height: 10vh;
    }
}
@media (min-width:320px) and (max-width:419px){
    html{
        font-size: 30%;
    }
    #logo{
        width: 50vw;
    }
    .menu_icon{
        font-size: 4.5rem;
    }
    #sec_02{
        height: 35vh;
    }
    .div_txt01{
        font-size: 3rem;
    }
    #sec_03{
        height: 35vh;
    }
    .__link{
        font-size: 2rem;
    }
    .letra{
        font-size: 5rem;
    }
    #sec_04{
        height: 20vh;
    }
    .container_logos_ul{
        padding: 0%;
    }
    .container_logos_li > img{
        width: 20vw;
    }
    .fotos{
        padding-top: 1.4vw;
    }
    .fotos > li > img{
        width: 25vw;
    }
    .nomes > li{
        font-size: 3rem;
    }
    .cargos > li{
        font-size: 3.2rem;
    }
    .depoimentos > li{
        font-size: 3.2rem;
    }
    #sec_06{
        height: 20vh;
        flex-direction: column;
        justify-content: space-around;
    }
    #sec_06 .titulo{
        font-size: 2.5rem;
        text-align: center;
    }
    #sec_06 .form{
        display: flex;
        justify-content: space-around;
        font-size: 2.5rem;
    }
    #sec_06 .email{
        font-size: 2.5rem;
        height: 3rem;
    }
    #sec_06 .button{
        font-size: 2.5rem;
        height: 3rem;
    }
    #sec_07{
        height: 10vh;
    }
}
